In [1]:
import pandas as pd

In [2]:
years = range(2014,2018)
s1 = pd.Series([2409.14,2941.01,3496.83,3119.55], index=years)
s2 = pd.Series([1203.45,3441.62,3007.83,3619.53], index= years)
s3 = pd.Series([3412.12,3491.16,3457.19,1963.10], index=years)
pd.concat([s1,s2,s3])

2014    2409.14
2015    2941.01
2016    3496.83
2017    3119.55
2014    1203.45
2015    3441.62
2016    3007.83
2017    3619.53
2014    3412.12
2015    3491.16
2016    3457.19
2017    1963.10
dtype: float64

In [3]:
sh_df = pd.concat([s1,s2,s3], axis=1)
sh_df

            0        1        2
2014  2409.14  1203.45  3412.12
2015  2941.01  3441.62  3491.16
2016  3496.83  3007.83  3457.19
2017  3119.55  3619.53  1963.10

In [4]:
cities = ["Dhar", "Indore","Bhopal"]
sh_df.columns = cities
print(sh_df)

# one more way 
s1.name = "manmad"
s2.name = "shird"
s3.name = "Pune"
print("________")
sh_df1= pd.concat([s1,s2,s3], axis=1)
print(sh_df1)

         Dhar   Indore   Bhopal
2014  2409.14  1203.45  3412.12
2015  2941.01  3441.62  3491.16
2016  3496.83  3007.83  3457.19
2017  3119.55  3619.53  1963.10
________
       manmad    shird     Pune
2014  2409.14  1203.45  3412.12
2015  2941.01  3441.62  3491.16
2016  3496.83  3007.83  3457.19
2017  3119.55  3619.53  1963.10

In [5]:
print(type(sh_df))

<class 'pandas.core.frame.DataFrame'>

In [6]:
#datafram from Dictionaries

In [7]:
city={"name":["Dhar","Indore","Bhopal","Pune","Shird","Manmad","bagdi","Mandu","BAnglore","reshikash","haridwar","Shimla","Rachi"],
     "Popluation":[254512322,145455,15485420,151515150,154851202,1548546263,15415415,1554152,1554152,154541,1541541,28956,98989842],
     "Country":["India","India","India","India","India","India","India","India","India","India","India","India","India",]}
ci_f=pd.DataFrame(city)
print(ci_f)

         name  Popluation Country
0        Dhar   254512322   India
1      Indore      145455   India
2      Bhopal    15485420   India
3        Pune   151515150   India
4       Shird   154851202   India
5      Manmad  1548546263   India
6       bagdi    15415415   India
7       Mandu     1554152   India
8    BAnglore     1554152   India
9   reshikash      154541   India
10   haridwar     1541541   India
11     Shimla       28956   India
12      Rachi    98989842   India

In [8]:
ci_f.columns.values

array(['name', 'Popluation', 'Country'], dtype=object)

In [9]:
so_no=["1st","2nd","3rd","4th","5th","6th","7th","8th","9th","10th","11th","12","13"]
ci_f=pd.DataFrame(city,index=so_no)
print(ci_f)

           name  Popluation Country
1st        Dhar   254512322   India
2nd      Indore      145455   India
3rd      Bhopal    15485420   India
4th        Pune   151515150   India
5th       Shird   154851202   India
6th      Manmad  1548546263   India
7th       bagdi    15415415   India
8th       Mandu     1554152   India
9th    BAnglore     1554152   India
10th  reshikash      154541   India
11th   haridwar     1541541   India
12       Shimla       28956   India
13        Rachi    98989842   India

In [10]:
ci_f = pd.DataFrame(city,columns=["name","Country","Popluation"])
print(ci_f)

         name Country  Popluation
0        Dhar   India   254512322
1      Indore   India      145455
2      Bhopal   India    15485420
3        Pune   India   151515150
4       Shird   India   154851202
5      Manmad   India  1548546263
6       bagdi   India    15415415
7       Mandu   India     1554152
8    BAnglore   India     1554152
9   reshikash   India      154541
10   haridwar   India     1541541
11     Shimla   India       28956
12      Rachi   India    98989842

In [11]:
ci_f.reindex(index=[0,5,9,7,8,6,3,4,1,2,12,10,11],columns = ['Country','Popluation','name'])

   Country  Popluation       name
0    India   254512322       Dhar
5    India  1548546263     Manmad
9    India      154541  reshikash
7    India     1554152      Mandu
8    India     1554152   BAnglore
6    India    15415415      bagdi
3    India   151515150       Pune
4    India   154851202      Shird
1    India      145455     Indore
2    India    15485420     Bhopal
12   India    98989842      Rachi
10   India     1541541   haridwar
11   India       28956     Shimla

In [12]:
ci_f.rename(columns={"name":"City","Country":"Desh","Population":"jansankhya"},inplace=True)
print(ci_f)

         City   Desh  Popluation
0        Dhar  India   254512322
1      Indore  India      145455
2      Bhopal  India    15485420
3        Pune  India   151515150
4       Shird  India   154851202
5      Manmad  India  1548546263
6       bagdi  India    15415415
7       Mandu  India     1554152
8    BAnglore  India     1554152
9   reshikash  India      154541
10   haridwar  India     1541541
11     Shimla  India       28956
12      Rachi  India    98989842

In [13]:
ci_f=pd.DataFrame(city, columns=["name","Popluation"],index=city["Country"])
ci_f

            name  Popluation
India       Dhar   254512322
India     Indore      145455
India     Bhopal    15485420
India       Pune   151515150
India      Shird   154851202
India     Manmad  1548546263
India      bagdi    15415415
India      Mandu     1554152
India   BAnglore     1554152
India  reshikash      154541
India   haridwar     1541541
India     Shimla       28956
India      Rachi    98989842

In [14]:
# accessing Rows via index Valves

In [15]:
city={"name":["Dhar","Indore","Bhopal","Pune","Shird","Manmad","bagdi","Mandu","BAnglore","reshikash","haridwar","Shimla","Rachi"],
     "Popluation":[254512322,145455,15485420,151515150,154851202,1548546263,15415415,1554152,1554152,154541,1541541,28956,98989842],
     "Country":["India","India","India","India","India","India","India","India","India","India","India","India","India",]}
ci_f=pd.DataFrame(city)
print(ci_f)
ci_f=pd.DataFrame(city,columns=("name","Popluation"),index=city["Country"])
print(ci_f.loc["India"])

         name  Popluation Country
0        Dhar   254512322   India
1      Indore      145455   India
2      Bhopal    15485420   India
3        Pune   151515150   India
4       Shird   154851202   India
5      Manmad  1548546263   India
6       bagdi    15415415   India
7       Mandu     1554152   India
8    BAnglore     1554152   India
9   reshikash      154541   India
10   haridwar     1541541   India
11     Shimla       28956   India
12      Rachi    98989842   India
            name  Popluation
India       Dhar   254512322
India     Indore      145455
India     Bhopal    15485420
India       Pune   151515150
India      Shird   154851202
India     Manmad  1548546263
India      bagdi    15415415
India      Mandu     1554152
India   BAnglore     1554152
India  reshikash      154541
India   haridwar     1541541
India     Shimla       28956
India      Rachi    98989842

In [16]:
condition = ci_f.Popluation>10000000
print(condition)

India     True
India    False
India     True
India     True
India     True
India     True
India     True
India    False
India    False
India    False
India    False
India    False
India     True
Name: Popluation, dtype: bool

In [17]:
print(ci_f.loc[condition])

         name  Popluation
India    Dhar   254512322
India  Bhopal    15485420
India    Pune   151515150
India   Shird   154851202
India  Manmad  1548546263
India   bagdi    15415415
India   Rachi    98989842

In [18]:
con1=(ci_f.Popluation>10000000)
con2=(ci_f["name"].str.contains("r"))
print(ci_f.loc[con1 & con2])

        name  Popluation
India   Dhar   254512322
India  Shird   154851202

In [19]:
# accessing Rows by Position

In [22]:
df=ci_f.iloc[3]
print(df)

name               Pune
Popluation    151515150
Name: India, dtype: object

In [23]:
df=ci_f.iloc[[3,2,0,5,0]]
print(df)

         name  Popluation
India    Pune   151515150
India  Bhopal    15485420
India    Dhar   254512322
India  Manmad  1548546263
India    Dhar   254512322

In [24]:

#sum and Cumulative Sum

In [33]:
#import numpy as np
year=range(2014,2019)
cities=["Dhar","Indore","Bhopal","Mandu","Pune"]
shop=pd.DataFrame(index=years)
for city in cities:
    shop.insert(loc=len(shop.columns),
               column = city,
               value=(np.random.uniform(0.7,1,(5,))*1000).round(2))
print(shop)

        Dhar  Indore  Bhopal   Mandu    Pune
2014  764.58  825.17  838.58  845.80  845.78
2015  891.28  896.26  808.00  854.77  923.26
2016  882.36  995.92  710.53  829.22  972.49
2017  747.37  839.87  717.25  715.55  779.47
2018  928.01  834.65  823.15  944.47  908.14

In [34]:
shop.sum()

Dhar      4213.60
Indore    4391.87
Bhopal    3897.51
Mandu     4189.81
Pune      4429.14
dtype: float64

In [35]:
shop.sum(axis=1)

2014    4119.91
2015    4373.57
2016    4390.52
2017    3799.51
2018    4438.42
dtype: float64

In [36]:
s=shop.iloc[:,[0,2,-1]]
print(s)
print("& Now the sum ")
print(s.sum())

        Dhar  Bhopal    Pune
2014  764.58  838.58  845.78
2015  891.28  808.00  923.26
2016  882.36  710.53  972.49
2017  747.37  717.25  779.47
2018  928.01  823.15  908.14
& Now th sum
Dhar      4213.60
Bhopal    3897.51
Pune      4429.14
dtype: float64

In [37]:
shop[["Dhar","Bhopal","Pune"]].sum()

Dhar      4213.60
Bhopal    3897.51
Pune      4429.14
dtype: float64

In [40]:
x=shop.cumsum()
print(x)

         Dhar   Indore   Bhopal    Mandu     Pune
2014   764.58   825.17   838.58   845.80   845.78
2015  1655.86  1721.43  1646.58  1700.57  1769.04
2016  2538.22  2717.35  2357.11  2529.79  2741.53
2017  3285.59  3557.22  3074.36  3245.34  3521.00
2018  4213.60  4391.87  3897.51  4189.81  4429.14

In [41]:
x=shop.cumsum(axis=1)
print(x)

        Dhar   Indore   Bhopal    Mandu     Pune
2014  764.58  1589.75  2428.33  3274.13  4119.91
2015  891.28  1787.54  2595.54  3450.31  4373.57
2016  882.36  1878.28  2588.81  3418.03  4390.52
2017  747.37  1587.24  2304.49  3020.04  3799.51
2018  928.01  1762.66  2585.81  3530.28  4438.42